* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0c0505;
    background-image: url("https://source.unsplash.com/1600x900/?nature,forest");
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    background-color: #131623f0;
    color: white;
    padding: 2em;
    margin: 1em;
    border-radius: 33px;
    width: 100%;
    max-width: 420px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 1.8em;
    border-radius: 10px;
}

.button {
    margin-left: 1em;
    padding: 0.33em;
    border-radius: 10px;
    background: #6c6c6cf0;
    border: none;
    color: white;
}

input.search {
    background: #6c6c6cf0;
    outline: none;
    padding: 0.33em;
    color: white;
}

.container {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
}

.starting {
    visibility: hidden; 
    max-height: 0;;
}

