* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(103, 109, 107);
}

.card {
    background-color: rgb(155, 101, 241);
    padding: 2em;
    margin: 1em;
    border-radius: 33px;
    width: 100%;
    max-width: 420px;
}